<div>
	<div class="alert-green"><i class="fa fa-book"></i> Áreas de Conocimiento</div>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<accordion close-others="false">
		<accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" ng-repeat="community in communities">
			<accordion-heading>
				<span ng-class="{'text-muted':isDisable}">{{community.name}} <span class="label label-warning">{{community.countItems}}</span></span>
		    </accordion-heading>

		    <div  ng-if="community.subcommunities.length != 0" ng-repeat="subcommunity in community.subcommunities" >
        		<div class = "head-accordion">
    				<span >{{subcommunity.name}} <span class="label label-warning">{{subcommunity.countItems}}</span></span>
    			</div>
    			<div class="body-accordion" ng-if="subcommunity.collections.length != 0" ng-repeat="collection in subcommunity.collections">
        			<input type="checkbox" ng-click="select_collection(collection.id)"/> {{collection.name}} <span class="label label-warning">{{collection.numberItems}}</span>
        		</div>

        	</div>

        	<div class="body-accordion" ng-if="community.subcommunities.length == 0" ng-repeat="collection in community.collections">
        		<input type="checkbox" ng-click="select_collection(collection.id)"/> {{collection.name}} <span class="label label-warning">{{collection.numberItems}}</span>
        		
        	</div>
	    </accordion-group>
	</accordion>
</div>