<div id="container" ng-controller="UserCreateCtrl">
  <div class="col-md-3">
	<div login></div>
    <div search></div>
    <div communities></div>
  </div>

  <div class="col-lg-9">
    <div class="row">
      <div class="col-md-10">
        <h2>
          Usuarios
        </h2>
      </div>
      <div class="col-md-2">
        <img src="/img/logos/logouniandes.png" alt="uniandes" />
      </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
        <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
        <span ng-if="$last" ng-bind="breadcrumb.label"></span>
      </li>
    </ol>

    <div id="content" >
	  <form class="form-horizontal" name="userForm">
		<fieldset>

		<!-- Form Name -->
		<legend>Crear Usuario</legend>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="username">Usuario</label>
		  <div class="col-md-4">
		  	<input ng-model="user.username" id="username" name="username" type="text" placeholder="Nombre de usuario" class="form-control input-md" required="">
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="first_name">First Name</label>
		  <div class="col-md-4">
		  <input ng-model="user.first_name" id="first_name" name="first_name" type="text" placeholder="First Name" class="form-control input-md" required="">

		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="last_name">Last Name</label>
		  <div class="col-md-4">
		  <input ng-model="user.last_name" id="last_name" name="last_name" type="text" placeholder="last name" class="form-control input-md" required="">

		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="email">Correo Electronico</label>
		  <div class="col-md-4">
		  <input ng-model="user.email" id="email" name="email" type="text" placeholder="Correo Electronico" class="form-control input-md" required="">

		  </div>
		</div>

		<!-- Password input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="password">Contraseña</label>
		  <div class="col-md-4">
			<input ng-model="user.password" id="password" name="password" type="password" placeholder="Contraseña" class="form-control input-md" required="">

		  </div>
		</div>

		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="submit"></label>
		  <div class="col-md-4">
			<button id="reset"  name="reset"  class="btn btn-warning" ng-click="reset(form)">Reset</button>
			<button id="submit" name="submit" class="btn btn-primary" ng-click="create(user)">Crear</button>
		  </div>
		</div>

		</fieldset>
	</form>
    </div>

  </div>
  
</div>
