<div id="container" ng-controller="UserDeleteCtrl" class="container">
	<div class="col-md-3">
		<div login></div>
        <div search></div>
        <div communities></div>
    </div>

    <div class="col-lg-9">
    	<div class="row">
          <div class="col-md-10">
            <h2>
              Repositorio de recursos educativos
            </h2>
          </div>
          <div class="col-md-2">
            <img src="/img/logos/logouniandes.png" alt="uniandes" />
          </div>
        </div>

        <ol class="breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i></a></li>
	  		<li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
	  			<a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
	  			<span ng-if="$last" ng-bind="breadcrumb.label"></span>
			</li>
		</ol>

		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-danger" role="alert">
					<i class="fa fa-exclamation-triangle"></i> No tiene permisos de realizar esta acci&oacute;n!
				</div>
			</div>
		</div>
    </div>
</div>