<div id="container" ng-controller="HomeCtrl">
  <div class="col-md-3">
    <div login></div>
    <div search></div>
    <div communities></div>
  </div>

  <div class="col-lg-9">
    <div class="row">
      <div class="col-md-10">
        <h2>
          Repositorio de recursos educativos
        </h2>
      </div>
      <div class="col-md-2">
        <img src="/img/logos/logouniandes.png" alt="uniandes" />
      </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
        <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
        <span ng-if="$last" ng-bind="breadcrumb.label"></span>
      </li>
    </ol>

    <div id="content" >
      <div class="row panelHome">
        
        <div class="row recurso_line" dir-paginate = "item in items | filter:query | orderBy:orderItems | itemsPerPage: pageSize" current-page="currentPage" total-items="totalItems">
          <h3>
            {{item.meta['lom.general.title']}}
          </h3>
          <div class="col-md-3">
            <img ng-if="item.logo == null" ng-src="img/backgrounds/thumbnail_not_found.png" alt="..." width="180">
            <img ng-if="item.logo != null" ng-src="{{item.logo}}" alt="..." width="150">
          </div>
          <div class="col-md-9">
            <p>{{item.meta['lom.general.description']}} </p>
            <p><a ng-href="#/resources/{{item.id}}" ng-click="" class="btn btn-green" role="button">Ver más</a>
          </div>
          
        </div>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" ></dir-pagination-controls>
        </div>

      </div>
    </div>

  </div>
  
</div>
