<div id="container" ng-controller="ItemCtrl" class="container">
    <div class="col-md-3">
        <div login></div>
        <div search></div>
        <div communities></div>
    </div>

    <div class="col-lg-9">
        <div class="row">
          <div class="col-md-10">
            <h2>
              Repositorio de recursos educativos
            </h2>
          </div>
          <div class="col-md-2">
            <img src="/img/logos/logouniandes.png" alt="uniandes" />
          </div>
        </div>
    	<ol class="breadcrumb">
                <li><a href="#/"><i class="fa fa-home"></i></a></li>
    	  		<li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
    	  		<a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
    	  		<span ng-if="$last" ng-bind="breadcrumb.label"></span>
    		</li>
    	</ol>

        <div class="row">

			<div class="col-md-5">
				<img ng-if="item.logo == null" ng-src="img/backgrounds/thumbnail_not_found.png" alt="..." width="250" class="img-thumbnail">
			    <img ng-if="item.logo != null" ng-src="{{item.logo}}" alt="..." width="250" class="img-thumbnail">

				<p><h4>Objetivo educativo</h4></p>
                <p>{{item.meta['lom.general.description']}}</p>
				
                <p>
                    <a class="btn btn-green" ng-click="openLOM()">
                        Ver detalle
                    </a>
                    <a class="btn btn-green" ng-click="downloadBit()">
                        Descargar
                    </a>
                </p>

			</div>
    		<div class="col-md-7">
    				<p>
                        <strong>Titulo:</strong>
                    </p>
    				<p>{{item.meta['lom.general.title']}}</p>

    				<p>
                        <strong>Descripcion:</strong>
                    </p>
    				<p>{{item.meta['lom.general.description']}}</p>

    				<p>
                        <strong>Autor:</strong>
                    </p>
    				<p>{{item.meta['lom.lifecycle.contribute-role']}}</p>

    				<p>
                        <strong>Palabras Clave:</strong>
                    </p>
    				<p>{{item.meta['lom.general.keyword']}}</p>

    				<p>
                        <strong>Fecha:</strong>
                    </p>
    				<p>{{item.lastModified}}</p>

                    <p>
                        <a class="btn btn-green" ng-click="open()">
                            Requerimientos Técnicos
                        </a>
                    </p>
    			</div>
    	</div>
    </div>
</div>
<script type="text/ng-template" id="myModalLOM.html">
    <div class="modal-header">
        <h3 class="modal-title">Detalle campos LOM-CO</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-condensed">
            <tr ng-repeat="(key,data) in item.meta">
                <td><strong>{{key}}:</strong></td><td>{{data}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-green" type="button" ng-click="ok()">OK</button>
    </div>
</script>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Requerimientos técnicos</h3>
        </div>
        <div class="modal-body">
        <table class="table table-striped table-condensed">
        	<tr>
            	<td><strong>Formato:</strong></td><td> {{item.meta['lom.technical.format']}}</td>
            </tr>
            <tr>
            	<td><strong>Tamaño:</strong></td><td> {{item.meta['lom.technical.size']}}</td>
            </tr>
            <tr>
            	<td><strong>Ubicación:</strong></td><td> {{item.meta['lom.technical.location']}}</p></td>
            </tr>
            <tr>
            	<td><strong>Tipo:</strong></td><td> {{item.meta['lom.technical.requirement-orcomponent-type']}}</td>
            </tr>
            <tr>
            	<td><strong>Nombre:</strong></td><td> {{item.meta['lom.technical.requirement-orcomponent-name']}}</td>
            </tr>
            <tr>
            	<td><strong>Versión mínima:</strong></td><td> {{item.meta['lom.technical.requirement-orcomponent-minimumversion']}}</td>
            </tr>
            <tr>
            	<td><strong>Versión máxima:</strong></td><td> {{item.meta['lom.technical.requirement-orcomponent-maximumversion']}}</td>
            </tr>
            <tr>
            	<td><strong>Instrucciones de instalación</strong></td><td> {{item.meta['lom.technical.installationremarks']}}</td>
            </tr>
            <!--
            <tr>
            	<td><strong>Otros requerimientos</strong></td><td> {{item[0].technical[0].installationinstructions_otherrequirements}}</td>
            </tr>
            <tr>
            	<td><strong>Vida</strong></td><td> {{item[0].technical[0].life}}</td>
            </tr>
            <tr>
            	<td><strong>Thumbnails</strong></td><td> {{item[0].technical[0].thumbails}}</td>
            </tr>
            <tr>
            	<td><strong>Previews</strong></td><td> {{item[0].technical[0].previews}}</td>
            </tr>
            <tr>
            	<td><strong>Promo imagen</strong></td><td> {{item[0].technical[0].promoimages}}</td>
            </tr>
            -->
        </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-green" type="button" ng-click="ok()">OK</button>
        </div>
</script>