<div ng-show="userInfo === null">
<div>
	<div class="alert-green"><i class="fa fa-key"></i> Iniciar Sesi&oacute;n</div>
</div>
<div class="gray_container">
	<form>
		<div class="form-group">
			<input type="text" placeholder="Usuario" class="form-control" ng-model="username"><br />
			<input type="password" placeholder="Contrase&ntilde;a" class="form-control" ng-model="password">
		</div>
		<input class="btn btn-green" type="button" value="Ingresar" ng-click="login()">
	</form>
</div>
</div>

<div ng-show="userInfo !== null">
<div>
	<div class="alert-green"><i class="fa fa-user"></i> Hola, {{userInfo.username}}</div>
</div>
<div class="gray_container">
	<ul class="nav nav-pills nav-stacked">
		<li><a href = "/#/">Inicio</a></li>
  		<li><a href = "/#/users/{{userInfo.id}}">Perfil</a></li>
  		<li><a href = "/#/users/" ng-show="isAdmin !== null">Usuarios</a></li>
  		<li><a href="#" ng-click="logout()">Log Out</a></li>
	</ul>
</div>
</div>