<div id="container" ng-controller="MainCtrl">
  <div class="col-md-3">
    <div login></div>
    <div search></div>
    <div communities></div>
  </div>

  <div class="col-lg-9">
    <div class="row">
      <div class="col-md-10">
        <h2>
          Repositorio de recursos educativos
        </h2>
      </div>
      <div class="col-md-2">
        <img src="/img/logos/logouniandes.png" alt="uniandes" />
      </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
        <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
        <span ng-if="$last" ng-bind="breadcrumb.label"></span>
      </li>
    </ol>

    <div id="content" >
      <div class="row panelHome">
        <div class="col-xs-4 orderList">
          <select ng-model="orderItems" class="form-control">
            <option value="">Ordenar Por:</option>
            <option value="meta['lom.general.title']">Nombre</option>
            <option value="meta['dc.date.available']">Fecha</option>
          </select>
        </div>

        <div class="row recurso_line" dir-paginate = "item in items | filter:query | orderBy:orderItems | itemsPerPage: pageSize" current-page="currentPage" total-items="totalItems">
          <div class="col-md-3">
            <img ng-if="!angular.isDefined(item.meta['cem.technical.thumbails'])" ng-src="img/backgrounds/thumbnail_not_found.png" alt="..." width="180">
            <img ng-if="angular.isDefined(item.meta['cem.technical.thumbails'])" ng-src="{{item.meta['cem.technical.thumbails']}}" alt="..." width="150">
          </div>
          <div class="col-md-9">
            <p><strong>Título: </strong>{{item.meta['lom.general.title']}}</p>
            <p><strong>Tipo de recurso: </strong>{{item.meta['lom.educational.learningresourcetype']}} </p>
            <p><strong>Autor: </strong>{{item.meta['lom.lifecycle.contribute-role']}}</p>
            <p><strong>Fecha: </strong>{{item.meta['dc.date.available']}}</p>
            <p><strong>Palabras Claves: </strong>{{item.meta['lom.general.keyword']}} </p>
            <p><strong>Estado: </strong>{{item.state}} </p>
            <p><a ng-href="#/resources/{{item.id}}" ng-click="" class="btn btn-green" role="button">Ver</a>
          </div>
          
        </div>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" ></dir-pagination-controls>
        </div>

      </div>
    </div>

  </div>
  
</div>
