<div>
	<div class="alert-green"><i class="fa fa-search"></i> Buscador</div>
</div>
<div class="gray_container">
	<form>
		<div class="form-group">
			<input type="text" placeholder="Texto de busqueda..." class="form-control" ng-model="query">
		</div>
		<input class="btn btn-green" type="button" value="Buscar" ng-click="search()">
	</form>
</div>