<div id="container" ng-controller="UserCtrl" class="container">
    <div class="col-md-3">
    	<div login></div>
        <div search></div>
        <div communities></div>
    </div>

    <div class="col-lg-9">
    	<div class="row">
          <div class="col-md-10">
            <h2>
              Repositorio de recursos educativos
            </h2>
          </div>
          <div class="col-md-2">
            <img src="/img/logos/logouniandes.png" alt="uniandes" />
          </div>
        </div>

        <ol class="breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i></a></li>
	  		<li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
	  			<a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
	  			<span ng-if="$last" ng-bind="breadcrumb.label"></span>
			</li>
		</ol>

		<div class="row">
			<h3>Perfíl de Usuario {{user.name}}</h3>

			<div class="col-md-7">

				<table class="table table-striped">
					<tr>
						<td>Usuario:</td>
						<td>{{user.username}}</td>
					</tr>
					<tr>
						<td>Nombre:</td>
						<td>{{user.first_name}}</td>
					</tr>
					<tr>
						<td>Apellido:</td>
						<td>{{user.last_name}}</td>
					</tr>
					<tr>
						<td>Correo Electrónico:</td>
						<td>{{user.email}}</td>
					</tr>
					<tr ng-show="user.is_active">
						<td>Estado:</td>
						<td>Activo</td>
					</tr>
					<tr ng-show="!user.is_active">
						<td>Estado:</td>
						<td>Innactivo</td>
					</tr>
				</table>
			</div>

			<div>
				<button type="button" class="btn btn-success btn-sm" style="clear:both;float:right;margin-bottom:10px" ng-click="addGroupUser()">Agregar Rol</button>
				<table class="table table-striped table-bordered">
					<tr>
						<th>#</th>
						<th>Rol</th>
						<th>Acción</th>
					</tr>
					<tr ng-repeat="group in groups">
						<td>{{group.id}}</td>
						<td>{{group.name}}</td>
						<td><button type="button" class="btn btn-danger btn-xs" ng-click="deleteGroupUser(group.id, user)">Eliminar</button></td>
					</tr>
				</table>
			</div>
		</div>
    </div>

</div>

<script type="text/ng-template" id="myModalGroupSelect.html">
    <div class="modal-header">
        <h3 class="modal-title">Selccionar nuevo grupo</h3>
    </div>
    <div class="modal-body">
    	<form>
    		<select class="form-control" ng-model="groupData">
    			<option ng-repeat="group in groupsAdd" value="{{group.id}}">{{group.name}}</option>
    		</select>
    	</form>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-green" type="button" ng-click="add(groupData)">Agregar</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</script>