<div id="container" ng-controller="UserEditCtrl" class="container">
	<div class="col-md-3">
        <div login></div>
        <div search></div>
        <div communities></div>
    </div>

    <div class="col-lg-9">
    	<div class="row">
          <div class="col-md-10">
            <h2>
              Repositorio de recursos educativos
            </h2>
          </div>
          <div class="col-md-2">
            <img src="/img/logos/logouniandes.png" alt="uniandes" />
          </div>
        </div>

        <ol class="breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i></a></li>
	  		<li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
	  			<a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
	  			<span ng-if="$last" ng-bind="breadcrumb.label"></span>
			</li>
		</ol>

		<div class="row">
			<h3>Editar Perfíl de {{user.username}}</h3>

			<div class="col-xs-12 col-md-8">
				<form name="userForm" class="css-form form-horizontal" novalidate>
					<div class="alert alert-success" role="alert" ng-show="success"><b>Actualización exitosa!</b> El usuario fue actualizado exitosamente</div>
					<div class="form-group " >
						<label for="inputUserUserName" class="col-sm-2 control-label">Usuario:</label>
						<div class="col-sm-10" ng-class="{'has-success has-feedback':!userForm.uUName.$error.required,'has-error has-feedback':userForm.uUName.$error.required }">
					      	<input type="text" class="form-control" id="inputUserUserName" placeholder="Usuario" name="uUName" ng-model="user.username" required="" aria-describedby="inputUserUserName2Status">
					      	
					      	<div ng-show="userForm.$submitted || userForm.uUName.$touched">
					      		<div class="alert alert-danger" role="alert" ng-show="userForm.uUName.$error.required"><span >Favor ingresar un nombre válido.</span></div>
					      		<div ng-show="!userForm.uUName.$error.required" >
						      		<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  								<span id="inputUserUserName2Status" class="sr-only">(success)</span>
  								</div>
  								<div ng-show="userForm.uUName.$error.required" >
						      		<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	  								<span id="inputUserUserName2Status" class="sr-only">(success)</span>
  								</div>
					    	</div>
					    </div>

					</div>
					<div class="form-group " >
						<label for="inputUserName" class="col-sm-2 control-label">Nombre:</label>
						<div class="col-sm-10" ng-class="{'has-success has-feedback':!userForm.uName.$error.required,'has-error has-feedback':userForm.uName.$error.required }">
					      	<input type="text" class="form-control" id="inputUserName" placeholder="Nombre del usuario" name="uName" ng-model="user.first_name" required="" aria-describedby="inputUserName2Status">
					      	
					      	<div ng-show="userForm.$submitted || userForm.uName.$touched">
					      		<div class="alert alert-danger" role="alert" ng-show="userForm.uName.$error.required"><span >Favor ingresar un nombre válido.</span></div>
					      		<div ng-show="!userForm.uName.$error.required" >
						      		<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  								<span id="inputUserName2Status" class="sr-only">(success)</span>
  								</div>
  								<div ng-show="userForm.uName.$error.required" >
						      		<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	  								<span id="inputUserName2Status" class="sr-only">(success)</span>
  								</div>
					    	</div>
					    </div>

					</div>
					<div class="form-group " >
						<label for="inputUserLastName" class="col-sm-2 control-label">Apellido:</label>
						<div class="col-sm-10" ng-class="{'has-success has-feedback':!userForm.uLastName.$error.required,'has-error has-feedback':userForm.uLastName.$error.required }">
					      	<input type="text" class="form-control" id="inputUserLastName" placeholder="Apellido del usuario" name="uLastName" ng-model="user.last_name" required="" aria-describedby="inputUserLastName2Status">
					      	
					      	<div ng-show="userForm.$submitted || userForm.uLastName.$touched">
					      		<div class="alert alert-danger" role="alert" ng-show="userForm.uLastName.$error.required"><span >Favor ingresar un nombre válido.</span></div>
					      		<div ng-show="!userForm.uLastName.$error.required" >
						      		<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  								<span id="inputUserLastName2Status" class="sr-only">(success)</span>
  								</div>
  								<div ng-show="userForm.uLastName.$error.required" >
						      		<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	  								<span id="inputUserLastName2Status" class="sr-only">(success)</span>
  								</div>
					    	</div>
					    </div>

					</div>
					<div class="form-group " >
						<label for="inputUserPassword" class="col-sm-2 control-label">Contraseña:</label>
						<div class="col-sm-10" ng-class="{'has-success has-feedback':!userForm.uPassword.$error.required,'has-error has-feedback':userForm.uPassword.$error.required }">
					      	<input type="password" class="form-control" id="inputUserPassword" placeholder="Contraseña de usuario" name="uPassword" ng-model="user.password" required="" aria-describedby="inputUserPassword2Status" ng-minlength="3" ng-maxlength="20">
					      	
					      	<div ng-show="userForm.$submitted || userForm.uPassword.$touched">
					      		<div class="alert alert-danger" role="alert" ng-show="userForm.uPassword.$error.required"><span >Favor ingresar una contraseña válida.</span></div>
					      		<div class="alert alert-danger" role="alert" ng-show="!userForm.uPassword.$error.required"><span >Favor ingresar una contraseña válida.</span></div>
					      		<div ng-show="!userForm.uPassword.$error.required" >
						      		<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  								<span id="inputUserPassword2Status" class="sr-only">(success)</span>
  								</div>
  								<div ng-show="userForm.uPassword.$error.required" >
						      		<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	  								<span id="inputUserPassword2Status" class="sr-only">(success)</span>
  								</div>
					    	</div>
					    </div>

					</div>
					<div class="form-group">
						<label for="inputUserEmail" class="col-sm-2 control-label">Email:</label>
						<div class="col-sm-10" ng-class="{'has-success has-feedback':!userForm.uMail.$error.required || !userForm.uMail.$error.email,'has-error has-feedback':userForm.uMail.$error.required || userForm.uMail.$error.email}">
					      	<input type="email" class="form-control" id="inputUserEmail" placeholder="Email del usuario" name="uMail" ng-model="user.email" required="" aria-describedby="inputUserMail2Status">
					      	<div ng-show="userForm.$submitted || userForm.uMail.$touched">
					      		<div class="alert alert-danger" role="alert" ng-show="userForm.uMail.$error.required"><span >Favor ingresar un email válido.</span></div>
					      		<div class="alert alert-danger" role="alert" ng-show="userForm.uMail.$error.email"><span >Favor ingresar un email válido.</span></div>
					      		<div ng-show="!userForm.uMail.$error.required && !userForm.uMail.$error.email" >
						      		<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  								<span id="inputUserName2Status" class="sr-only">(success)</span>
  								</div>
  								
  								<div ng-show="userForm.uMail.$error.required || userForm.uMail.$error.email" >
						      		<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
	  								<span id="inputUserMail2Status" class="sr-only">(success)</span>
  								</div>
					    	</div>
					    </div>
					</div>
					<div class="form-group">
						<div class="col-sm-10 checkbox">
							<label>
					      		<input type="checkbox" name="uActive" ng-model="user.is_active">Activo
					      	</label>
					    </div>
					</div>

					<input type="button" ng-click="reset(form)" value="Reset" class="btn btn-warning"/>
    				<input type="submit" ng-click="update(user)" value="Guardar" class="btn btn-green"/>
				</form>
			</div>
		</div>
    </div>
</div>