<div id="container" ng-controller="UserDeleteCtrl" class="container">
	<div class="col-md-3">
		<div login></div>
        <div search></div>
        <div communities></div>
    </div>

    <div class="col-lg-9">
    	<div class="row">
          <div class="col-md-10">
            <h2>
              Repositorio de recursos educativos
            </h2>
          </div>
          <div class="col-md-2">
            <img src="/img/logos/logouniandes.png" alt="uniandes" />
          </div>
        </div>

        <ol class="breadcrumb">
            <li><a href="#/"><i class="fa fa-home"></i></a></li>
	  		<li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
	  			<a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
	  			<span ng-if="$last" ng-bind="breadcrumb.label"></span>
			</li>
		</ol>

		<div class="row">
			<h3>Eliminar {{user.username}}</h3>

			<div class="col-xs-12 col-md-8">
				<form name="userForm" class="css-form form-horizontal">
					<p>¿Esta completamente seguro de querer borrar al usuario "{{user.username}}"?</p>
					<input type="submit" ng-click="volver()" value="Cancelar" class="btn btn-warning"/>
    				<input type="submit" ng-click="deleteUser(user.id)" value="Borrar" class="btn btn-danger"/>
				</form>
			</div>
		</div>
    </div>
</div>