<div id="container" ng-controller="UsersCtrl">
  <div class="col-md-3">
	<div login></div>
    <div search></div>
    <div communities></div>
  </div>

  <div class="col-lg-9">
    <div class="row">
      <div class="col-md-10">
        <h2>
          Usuarios
        </h2>
      </div>
      <div class="col-md-2">
        <img src="/img/logos/logouniandes.png" alt="uniandes" />
      </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
  		<li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
  			<a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
  			<span ng-if="$last" ng-bind="breadcrumb.label"></span>
		</li>
    </ol>

    <div id="content" >
	  <a href="/#/users/create" class="btn btn-default">
		Crear Usuario
	  </a>
	  <table class="table table-striped">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Nombre
				</th>
				<th>
					Correo
				</th>
				
				<th>
					Acciones
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<th>
					{{ user.id }}
				</th>
				<th>
					{{ user.first_name }} {{ user.last_name }}
				</th>
				<th>
					{{ user.email }}
				</th>
				
				<th>
					<!-- Single button -->
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Acciones <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					  	<li><a href="/#/users/{{ user.id }}">Ver perfil</a></li>
						<li><a href="/#/users/edit/{{ user.id }}">Modificar Usuario</a></li>
						<li><a href="/#/users/delete/{{ user.id }}" onclick="return confirm("Esta seguro de querer borrar este usuario?");">Eliminar Usuario</a></li>
					  </ul>
					</div>
				</th>
			</tr>
		</tbody>
	</table>
    </div>

  </div>
  
</div>
