<!-- build:js(.) js/vendor.js -->
<!-- bower:js -->
<script src="components/jquery/dist/jquery.js"></script>
<script src="components/FileSaver/FileSaver.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/angular-animate/angular-animate.js"></script>
<script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.js"></script>
<script src="components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
<script src="components/angular-cookies/angular-cookies.js"></script>
<script src="components/angular-resource/angular-resource.js"></script>
<script src="components/angular-route/angular-route.js"></script>
<script src="components/angular-sanitize/angular-sanitize.js"></script>
<script src="components/angular-touch/angular-touch.js"></script>
<script src="components/angularUtils-pagination/dirPagination.js"></script>
<script src="components/jquery-cors/src/cors.js"></script>
<script src="components/ng-breadcrumbs/dist/ng-breadcrumbs.min.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({.tmp,app}) js/scripts.js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/item.js"></script>
    <script src="js/controllers/about.js"></script>
    <script src="js/controllers/services.js"></script>
    <script src="js/controllers/user.js"></script>
    <script src="js/controllers/userEdit.js"></script>
    <script src="js/controllers/userCreate.js"></script>
    <script src="js/controllers/userDelete.js"></script>
    <script src="js/controllers/users.js"></script>
    <script src="js/plugins/Blob.js"></script>
    <script src="js/controllers/login.js"></script>
    <!-- endbuild -->
</body>
</html>