<% include header %>

<div class="container">
  <div class="row">
    
    <div >
      <div ng-view=""></div>
    </div>

  </div>
  <hr>
  <footer>
    <div class="row">
      <div class="col-md-10">
        <img src="/img/logos/logo_conectate.png" alt="Uniandes Conecta-Te" />
      </div>
      <div class="col-md-2">
        <img src="/img/logos/logouniandes.png" alt="Uniandes" />
      </div>
    </div>

  </footer>
</div>
 
<% include footer %>