.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: url(../images/backgrounds/sports_img.png) 50% 0 no-repeat fixed
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 0 solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 0px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.logoU img{
  margin: 0 0 0 150px;
}

.logoApp img{
  margin: 0 0 0 20%;
}

.fRight{
  float: right;
  margin-right: 10%
}

#container{
  margin: 0 auto;
  min-width: 500px;
  max-width: 1200px;
}

#content{
  padding: 30px
}
.panelHome{
  width: 600px;
  min-width: 700px;
  float: left;
}

.input-group{
  max-width: 800px;
  margin: 0 auto;
}

.rightPanel{
  width: 300px;
  float: right;
}

.pagination{
  margin-left: 250px;
}

.orderList{
  margin-top:  25px
}

.caption {
  min-height: 227px
}

.thumbnail{
  height: 480px;
}

.container_item{
  padding-bottom: 30px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
